@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/Home.css" rel="stylesheet" />
    
    
</head>

<body>
    <div id="text">
        <text>
            Welcome to Drive Online
        </text>

        <p>    Please Log in in you account.</p>
        
            
            <p> If you don't have any account you can create him.</p>
            
       

        <form asp-action="Redirect_SignIn">
            <input type="submit"  class="btn btn-primary input_button" style="margin-top:15px;float:left;" value="SignIn" />
        </form>
        <form asp-action="Redirect_SignUp">
            <input type="submit"  class="btn btn-primary " style="margin-top:15px;margin-left:10px;" value="SignUp" />
        </form>
       
    </div>



    <div id="MongoDB" style="min-height:400px;">


        <img id="start_img" src="/background_img/business--rocket-illustration.webp" style="float:right;" />

      
    </div>

    <div id="text2">
        <img class="img_size" src="~/icon/logo.png">Drive online is a cloud storage where you can save you data.
        <br />
        <img class="img_size" src="~/icon/mongodb.svg" style="margin-top:10px;" /> We use MongoDB for save you data safely.
        <br />
        <img class="img_size" src="~/icon/cloud_save.png" style="margin-top:10px;" /> All you data is private.
        <br />
        <img class="img_size" src="~/icon/cloud_free.png" style="margin-top:10px;" /> Our application is absolutely free.
    </div>

    <div id="DriveOnline" style="min-height:300px; ">

        <img id="start_img" src="/background_img/professor-concept.png" style="float:right;" />
    </div>
</body>
</html>