@model ManageClient.Models.MSSQL.TempData

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="~/css/Sidebar.css" />
    <link rel="stylesheet" href="~/css/Modal.css" />



</head>



<body>

    <img src="/icon/edit_icon.png" data-toggle="modal" data-target="#edit_password" class="icon" id="update_password"} />

    <div class="modal fade" id="edit_password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="update_password">
                    <div class="modal-body">
                        <p> Current Password:</p>
                        <input type="password" asp-for="OldPassword" class="form-control" style="width: 40%" />
                        <br />

                        <p>New Password:</p>
                        <input type="password" asp-for="NewPassword" class="form-control" style=" width: 40%" />
                        <br />

                        <p>Verification Password:</p>
                        <input type="password" asp-for="Verification_pass" class="form-control" style=" width: 40%" />
                    </div>
                    <p style="color:red"> @ViewData["Error_update_password"]</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary"  value="Save changes" />
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>
</html>
