/*Style upload button*/
#file_btn {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 3px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


/*Style of display data*/
.card {
    width: 11%;
    float: left;
    display: inline-block;
    margin: 30px;
}

.card-title {
    font-size: 80%;
}

.image_decode {
    
    width: 100%;
}

.card-img-top {
    width: 100%;
}


/*Dropdown menu with display elelements*/
.dropdown-button {
    background-color: transparent;
    border-color: transparent;
    margin-left: 50px;
    
}

    .dropdown-button:focus {
        outline: none;
    }

    .dropdown-menu:hover{
        cursor:pointer;
       
    }


.dropdown-menu a:hover {
    background-color: rgb(56, 63, 76);
}

/**/
.footer {
    position: fixed;
    width: 0%;
    height: 10%
}

/*Style of open file */
#video_controls{
    width:75%;
    height:75%;
}

#image_controls {
    width: 55%;
    height: 55%;
}

/*Adaptive settings for android and small display*/
@media (max-width: 768px) {
    #file_btn {
        padding: 0 2.6rem;
    }

    .card {
        width: 50%;
        float: left;
        margin: 0px;
    }

    
    .card-title{
        font-size:80%;
    }
    
    .image_decode {
        width: 100%;
    }

    .dropdown-button {
        margin-left: 70px;
    }
}




   