.icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 85%;
}

.modal{
    width:50%;
    margin-left:30%;
}

@media(max-width:720px) {
    
    .usericon{
        width:70%;
        height:30%;
        margin-left:10px;
    }
    .icon {
        width: 10px;
        height: 10px;
    }
    
}



